{% load i18n admin_urls %}
<div class="submit-row">
{% block submit-row %}
{% if show_save %}<input type="submit" value="Guardar" class="default" name="_save">{% endif %}

{% if show_save_as_new %}<input type="submit" value="Guardar como nuevo" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="Guardar y añadir otro" name="_addanother">{% endif %}
{% if show_save_and_continue %}<input type="submit" value="Guardar y continuar editado" name="_continue">{% endif %}
{% if show_close %}<a href="{% url opts|admin_urlname:'changelist' %}" class="closelink">{% trans 'Close' %}</a>{% endif %}
{% endblock %}
</div>
